table {
    table-layout: fixed;
    width: 60vh;
    height: 60vh;
    border-collapse: collapse;
    margin: auto;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    font-family: Helvetica;
    border: 100px solid white;
    border-collapse: separate;
}

td {
    width: 11.11%;
    position: relative;
}

td:after {
    content: '';
    display: block;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: gold;
}

tr {
    width: 8vh;
    height: 8vh;
}

table,
th,
td {
    border: 1px solid black;
    
}

.title {
    font-size: 4em;
    text-align: center;
}

.btncontainer {
    text-align: center;
}

input[type = text]{
    font-size: xx-large;
    border: 0px solid white;
    text-align: center;
    width: 40%;
    /*box-shadow: 0; */
    outline: none;
    background-color: transparent;
    /*color: #04a8f4; */
    /*color: transparent;
    text-shadow: 0 0 0 black;*/
}

td:hover::after{
    background-color: #ffa;
}

td:first-child {
    border-left:solid;
  }
  td:nth-child(3n) {
    border-right:solid ;
  }
  tr:first-child {
    border-top:solid;
  }
  tr:nth-child(3n) td {
    border-bottom:solid ;
  }
